In [1]:
import pandas as pd
df = pd.read_csv('t20.csv')
X = df.iloc[:,[7,8,9,10,11,12,13]].values
y = df.iloc[:, 14].values
df.head(100)
#Features are CURRENT TOTAL RUNS, CURRENT WICKETS TAKEN, CURRENT OVER,
#RUNS IN LAST 5 OVERS, WICKETS IN LAST 5 OVERS, RUNS BY STRIKER, RUNS BY NON-STRIKER

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2005-06-13,The Rose Bowl,England,Australia,ME Trescothick,B Lee,0,0,0.1,0,0,0,0,179
1,1,2005-06-13,The Rose Bowl,England,Australia,ME Trescothick,B Lee,1,0,0.2,1,0,1,0,179
2,1,2005-06-13,The Rose Bowl,England,Australia,GO Jones,B Lee,1,0,0.3,1,0,1,0,179
3,1,2005-06-13,The Rose Bowl,England,Australia,GO Jones,B Lee,1,0,0.4,1,0,1,0,179
4,1,2005-06-13,The Rose Bowl,England,Australia,GO Jones,B Lee,1,0,0.5,1,0,1,0,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2005-06-13,The Rose Bowl,England,Australia,PD Collingwood,A Symonds,126,5,15.2,31,3,15,6,179
96,1,2005-06-13,The Rose Bowl,England,Australia,AJ Strauss,A Symonds,126,5,15.3,27,3,15,6,179
97,1,2005-06-13,The Rose Bowl,England,Australia,AJ Strauss,A Symonds,127,5,15.4,27,3,15,7,179
98,1,2005-06-13,The Rose Bowl,England,Australia,PD Collingwood,A Symonds,131,5,15.5,31,2,19,7,179
99,1,2005-06-13,The Rose Bowl,England,Australia,PD Collingwood,A Symonds,132,5,15.6,31,2,20,7,179

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [3]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [4]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(X_train,y_train)

RandomForestRegressor(max_features=None)

In [5]:
"""
import pickle

with open('LiveCricPred.pickle','wb') as f:
    pickle.dump(reg, f)
    
#TO USE THE PICKLE USE THE FOLLOWING CODE

pickle_in=open('LiveCricPred.pickle','rb')
reg=pickle.load(picke_in)
"""

"\nimport pickle\n\nwith open('LiveCricPred.pickle','wb') as f:\n    pickle.dump(reg, f)\n    \n#TO USE THE PICKLE USE THE FOLLOWING CODE\n\npickle_in=open('LiveCricPred.pickle','rb')\nreg=pickle.load(picke_in)\n"

In [7]:
from sklearn import metrics
import numpy as np

y_pred = reg.predict(X_test)
score = reg.score(X_test,y_test)*100
print("R square value:" , score)
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R square value: 66.2138044965128
Root Mean Squared Error: 17.69823536461011

In [8]:
import numpy as np
new_prediction = reg.predict(sc.transform(np.array([[100,2,12,40,1,5,50]])))
print("Prediction score:" , int(new_prediction))

Prediction score: 175

In [ ]:
team=np.random.randint(9)
venue=np.random.randint(9)

if team==venue:
    new_prediction+=10

In [ ]:
pitch=np.random.randint(3)
toss=np.random.randint(2)

if pitch==1 and toss==1:
    new_prediction+=10
elif pitch==3 and toss==1:
    new_prediction-=10

In [ ]:
print("Prediction score:" , int(new_prediction))